<h1>Editar iformación de <%=@student.nombre%></h1>
<%= form_for :student, url: student_path(@student), method: :patch do |f| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :nombre %><br>
  <%= f.text_field :nombre %>
</p>

<p>
  <% f.label :fecha_de_nacimiento %>
  <p>Fecha de Nacimiento</p>
  <%= f.date_field :fecha_de_nacimiento %>
</p>

<p>
  <%= f.label :celular %><br>
  <%= f.text_field :celular %>
</p>

<p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</p>

<p>Rango</p>
  <%= f.select :rango, [['Blanco','blanco'],['Azul','azul'],['Morado','morado'],['Marrón','marron'],['Negro','negro']] %>

<p>
  <%= f.submit %>
</p

<% end %>
