<p>
  <strong>Nombre:</strong>
  <%= @student.nombre%>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @student.fecha_de_nacimiento %>
</p>

<p>
  <strong>Teléfono Celular:</strong>
  <%= @student.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Rango:</strong>
  <%= @student.rango %>
</p>

